@charset "UTF-8";

/*
    em HTML é id     = em CSS é #
    em HTMl é class  = em CSS é .
*/

body{ 
    background-color: rgba(0, 255, 255, 0.485);
    font-family: cursive;
    text-align: justify;
}

h1{
    color: brown;
}

h1#principal{
    text-align: center;
    background-color: brown;
    color: white;
}

h2.cor1{
    color: rgb(255, 200, 0);
}

h2.cor2{
    color: rgb(121, 241, 10);
}

h2.cor3{
    color: rgb(10, 201, 215);
}